
.ngViewport {
    overflow: auto;
    min-height: 180px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
}

a {
    color: #333333;
}

a:hover, a:focus {
    color: #333333;
}

.user-border{
	border-radius: 50%;
}