Agentes da Bolsa é um projeto acadêmico com objetivo de estabelecer um ambiente de experimentação de modelos de confiança e reputação utilizando agentes inteligentes. A bolsa de valores é o cenário de simulação no qual os agentes devem ter capacidade de investir e compartilhar informações com outros agentes previamente desconhecidos.
Temos dois intuídos
•	Um ambiente de competição no qual os pesquisadores podem comparar suas tecnologias contra métricas objetivas e
•	Uma ferramenta experimental, com parâmetros flexíveis, permitindo aos pesquisadores realizar personalizáveis, experiências facilmente repetíveis.
Como, um local de experimentação universal versátil, Agentes da Bolsa tem escopos problemas de pesquisa relevantes confiança e une pesquisadores em direção a soluções através de métodos de experimentação unificados. 

Através de métricas objetivas o Agentes da Bolsa  fornece aos pesquisadores ferramentas para comparar e validar as suas abordagens de confiança e reputação.
