<div class="page-header">
  <h1>Agentes <small>Configuração</small></h1>
</div>

<div data-ng-controller="AgenteController">
	

<div data-ng-grid="gridOptions"></div>

<div class="row">
	<div class="col-xs-12 col-md-6">
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1">Tipo</span>
		  <input type="text" class="form-control" placeholder="Search">
		</div>
		<div class="input-group input-group-lg">
		  <span class="input-group-addon" id="sizing-addon1">Quantidade</span>
		  <input type="text" class="form-control" placeholder="Quantidade" aria-describedby="sizing-addon1">
		</div>
	</div>
	<div class="col-xs-12 col-md-6">
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon1">Ação Diária (Antes)</span>
		    <textarea class="form-control custom-control" rows="3" style="resize:none"></textarea> 
		 </div>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon1">Ação Diária (Depois)</span>
		    <textarea class="form-control custom-control" rows="5" style="resize:none"></textarea> 
		 </div>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon1">Solicitar Avaliação</span>
		    <textarea class="form-control custom-control" rows="5" style="resize:none"></textarea> 
		 </div>
		<div class="input-group">
			<span class="input-group-addon" id="sizing-addon1">Fornecer Ajuda</span>
		    <textarea class="form-control custom-control" rows="5" style="resize:none"></textarea> 
		 </div>
	</div>
</div>

<div class="row" style="text-align:center">
	 <div class="btn-group" role="group" >
		  <button type="button" class="btn btn-default">Salvar</button>
		  <button type="button" class="btn btn-default">Excluir</button>
	</div>
</div>


</div>