<div class="page-header">
  <h1>Agentes <small>Configuração</small></h1>
</div>

<div data-ng-controller="AgenteController">

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content"> 


	<div class="row" class="form-group">
		<div class="col-md-8">
			<fieldset class="form-group">
			  <label for="nome">Agente</label>
			  <input type="text" class="form-control" id="nome" ng-model="agente.name" placeholder="Nome do agente">
			</fieldset>
		</div>
		<div class="col-md-2">
			<fieldset class="form-group">
			  <label for="clones">Número de Clones</label>
			  <input type="number" name="input" class="form-control" placeholder="Clones" ng-model="agente.clones" min="1" max="99" required>
			</fieldset>
		</div>
		<div class="col-md-2">
			<fieldset class="form-group">
			  <label for="clones">Ativo</label>
			  <input type="checkbox" name="input" class="form-control" ng-model="agente.enabled">
			</fieldset>
		</div>		
	</div>

	<div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab1'}"><a data-ng-click="changeTab('tab1')">Jogar</a></li>
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab2'}"><a data-ng-click="changeTab('tab2')">Resultado</a></li>
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab3'}"><a data-ng-click="changeTab('tab3')">Solicitar Ajuda</a></li>
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab4'}"><a data-ng-click="changeTab('tab4')">Forcecer Ajuda</a></li>
		</ul>
	    <div>
	        <div class="tab-pane" ng-show="view_tab == 'tab1'" style="height: 300px;">
				<fieldset class="form-group">
				  <div style="width: 100%;  height: 200px;">
				  	<pre id="editorActionBefore"></pre>
				  </div>
				</fieldset>
	        </div>
	        <div class="tab-pane" ng-show="view_tab == 'tab2'">
				  <div style="width: 100%;  height: 200px;">
				  	<pre id="editorActionAfter"></pre>
				  </div>
	        </div>
	        <div class="tab-pane" ng-show="view_tab == 'tab3'">
				<div style="width: 100%;  height: 200px;">
					<pre id="editorRequestHelp"></pre>
				</div>
	        </div>
	        <div class="tab-pane" ng-show="view_tab == 'tab4'">
				<div style="width: 100%;  height: 200px;">
					<pre id="editorResponseHelp"></pre>
				</div>				
	        </div>	  
	    </div>
	</div>

	 <div class="row" >

		 <div class="btn-group col-md-6" role="group" >	
		 	<div style="text-align: right;">	 				
				<button type="button" ng-click="save()" class="btn btn-default" >Salvar</button>			
				<button type="button" ng-click="close()" class="btn btn-default" >Cancelar</button>	
				<a  ng-href="#/simular" class="btn btn-default" >Jogar</a>
			</div>		
		</div>
		<div class="btn-group col-md-6" role="group" >		 				
			<button type="button" ng-click="delete()" class="btn" style="float: right;">Excluir</button>
		</div>
	</div>
  </div>
</div>

<button type="button" ng-click="new()" class="btn btn-default">Novo</button>
<div data-ng-grid="gridOptions"></div>
	
</div>