<div class="page-header">
  <h1>Agentes <small>Configuração</small></h1>
</div>

<div data-ng-controller="AgenteController">


	<div data-ng-grid="gridOptions"></div>
	
	<div class="row" style="text-align:center">
		 <div class="btn-group" role="group" >
		 	<button type="button" ng-click="new()" class="btn btn-default">Novo</button>
			<button type="button" ng-click="save()" class="btn btn-default">Salvar</button>			
			<button type="button" ng-click="delete()" class="btn btn-default">Excluir</button>
		</div>
	</div>
	<div class="row" class="form-group">
		<div class="col-md-10">
			<fieldset class="form-group">
			  <label for="nome">Nome do agente</label>
			  <input type="text" class="form-control" id="nome" ng-model="agente.name" placeholder="Nome do agente">
			</fieldset>
		</div>
		<div class="col-md-2">
			<fieldset class="form-group">
			  <label for="clones">Número de Clones</label>
			  <input type="number" name="input" class="form-control" placeholder="Clones" ng-model="agente.clones" id="agente.clones"  min="0" max="99" required>
			</fieldset>
		</div>
	</div>
	<div class="row">
		<ul class="nav nav-pills">
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab1'}"><a data-ng-click="changeTab('tab1')">Ação Diária (Pre)</a></li>
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab2'}"><a data-ng-click="changeTab('tab2')">Ação Diária (Pos)</a></li>
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab3'}"><a data-ng-click="changeTab('tab3')">Solicitar Ajuda</a></li>
		  <li role="presentation" data-ng-class="{'active': view_tab == 'tab4'}"><a data-ng-click="changeTab('tab4')">Forcecer Ajuda</a></li>
		  
		</ul>
	    <div>
	        <div class="tab-pane" ng-show="view_tab == 'tab1'">
				<fieldset class="form-group">
				  <textarea ng-model="agente.actionBefore" class="form-control code" rows="15" style="resize:none" ></textarea> 
				</fieldset>
	        </div>
	        <div class="tab-pane" ng-show="view_tab == 'tab2'">
				<fieldset class="form-group">
				  <textarea ng-model="agente.actionAfter" class="form-control code" rows="15" style="resize:none" ></textarea> 
				</fieldset>
	        </div>
	        <div class="tab-pane" ng-show="view_tab == 'tab3'">
				<fieldset class="form-group">
				  <textarea ng-model="agente.requestHelp" class="form-control code" rows="15" style="resize:none" ></textarea> 
				</fieldset>
	        </div>
	        <div class="tab-pane" ng-show="view_tab == 'tab4'">
				<fieldset class="form-group">
				  <textarea ng-model="agente.responseHelp"  class="form-control code" rows="15" style="resize:none" ></textarea> 
				</fieldset>
	        </div>	        	        
	    </div>
	</div>
</div>