<div class="page-header">
  <h1>General <small>Configurations</small></h1>
</div>
<div data-ng-controller="ConfigController">
<div class="row" class="form-group" >
	<div class="col-md-6">	       
		<fieldset class="form-group">
		 	<label for="nome">Bonds to simulate</label>
		  <textarea ng-model="cfg.acoes" class="form-control code" rows="10" style="resize:none" ></textarea> 
		</fieldset>
	</div>
	<div class="col-md-2">
		<fieldset class="form-group">
		  <label for="clones">Agent Pattern</label>
		  <input type="text" name="input" class="form-control" ng-model="cfg.agentPattern">
		</fieldset>
	</div>
	<div class="col-md-2">
		<fieldset class="form-group">
		  <label for="clones">Random</label>
		  <input type="checkbox" name="input" class="form-control" ng-model="cfg.random">
		</fieldset>
	</div>
	<div class="col-md-2">
		<fieldset class="form-group">
		  <label for="clones">Malice</label>
		  <input type="checkbox" name="input" class="form-control" ng-model="cfg.malice">
		</fieldset>
	</div>	
</div>


<div class="row" class="form-group" >
	<div class="col-md-3">
		<fieldset class="form-group">
		  <label for="clones">Random seed</label>
		  <input type="number" name="input" class="form-control" ng-model="cfg.randomSeed">
		</fieldset>
	</div>
	<div class="col-md-3">
		<fieldset class="form-group">
		  <label for="clones">Start trust in ...</label>
		  <input type="number" name="input" class="form-control" ng-model="cfg.startTrust">
		</fieldset>
	</div>
	<div class="col-md-2">
		<fieldset class="form-group">
		  <label for="clones">Stop days</label>
		  <input type="number" name="input" class="form-control" ng-model="cfg.stop">
		</fieldset>
	</div>	
	<div class="col-md-3">
		<fieldset class="form-group">
		  <label for="clones">Prequential (fading factor)</label>
		  <input type="number" name="input" class="form-control" ng-model="cfg.prequentialFadingFactor">
		</fieldset>
	</div>	
</div>

<div class="row" class="form-group" >
	<div class="col-md-3">
		<fieldset class="form-group">
		  <label for="clones">Total Iterations</label>
		  <input type="number" name="input" class="form-control" ng-model="cfg.iterationTotal">
		</fieldset>
	</div>
</div>

<div class="row" class="form-group" >
	 <div class="btn-group col-md-12" role="group" >	
	 	<div>	 				
			<button type="button" ng-click="save()" class="btn btn-default" >Save</button>			
		</div>		
	</div>
</div>
</div>