<div class="page-header">
  <h1>Simulação <small>Jogo dos agentes</small></h1>
</div>

<div data-ng-controller="SimuladorController">

	<div class="row" class="form-group">
		<div class="col-md-2">
			<fieldset class="form-group">
				<label for="nome" >Rounds</label>
				<input type="number" name="input" class="form-control" placeholder="Clones" ng-model="rounds" min="0" max="1000" required>
			</fieldset>
		</div>
		<div class="col-md-1">			
			<fieldset class="form-group">
				<label for="nome" >&nbsp;</label>		
				<button type="button" ng-click="startGame()" class="btn btn-default">Iniciar</button>
			</fieldset>			
		</div>		
		<div class="col-md-1">			
			<fieldset class="form-group">
				<label for="nome" >&nbsp;</label>		
				<a  ng-href="#/agente" class="btn btn-default" >Agentes</a>
			</fieldset>			
		</div>	
		<div class="col-md-9">			
						
		</div>
	</div>
	
	<div class="row" class="form-group">
		<div class="col-md-12">
			<textarea id="messageArea" rows="25" cols="170" ></textarea>
		</div>
	</div> 
</div>