<div class="page-header">
  <h1>Simulator <small>Multi-agent</small></h1>
</div>

<div data-ng-controller="SimuladorController">

	<div class="row" class="form-group">
		<div class="col-md-2">
			<fieldset class="form-group">
				<label for="nome" >Rounds</label>
				<input type="number" name="input" class="form-control" ng-model="rounds" min="0" max="1000" required>
			</fieldset>
		</div>
		<div class="col-md-3">
			<fieldset class="form-group">
				<label for="nome" >Trust Model</label>
				<select class="form-control" class="btn btn-default" ng-model="trust" >
				  <option value = "agentesdabolsa.trust.LessModel">Less (No Trust)</option>
				  <option value = "agentesdabolsa.trust.MARSHModel">MARSH (Direct)</option>
				  <option value = "agentesdabolsa.trust.TRAVOSModel">TRAVOS (Witness)</option>
				  <option value = "agentesdabolsa.trust.ICEModel">ICE (Dossie)</option>
				  <option value = "agentesdabolsa.trust.FIREModel">FIRE (Certified Reputation)</option>
				  <option value = "agentesdabolsa.trust.CentralModel">Central</option>
				</select>
			</fieldset>
		</div>

		<div class="col-md-2">
			<fieldset class="form-group">
				<label for="nome" >Metrics</label>
				<select class="form-control" class="btn btn-default" ng-model="metric" >
				  <option value = "agentesdabolsa.metric.AverageMetric">Average Profit</option>
				  <option value = "agentesdabolsa.metric.ErrorMetric">Error Percentage</option>
				  <option value = "agentesdabolsa.metric.GlobalErrorMetric">Global Error</option>
				  <option value = "agentesdabolsa.metric.PrequentialMetric">Prequential</option>
				</select>
			</fieldset>
		</div>

		<div class="col-md-1">			
			<fieldset class="form-group">
				<label for="nome" >&nbsp;</label>		
				<button type="button" ng-click="startGame()" class="btn btn-default">Start</button>
			</fieldset>			
		</div>

		<div class="col-md-1">			
			<fieldset class="form-group">
				<label for="nome" >&nbsp;</label>		
				<button type="button" ng-click="result()" class="btn btn-default">Result</button>
			</fieldset>			
		</div>

		<div class="col-md-1">
			<fieldset class="form-group">
			  <label for="clones">Auto</label>
			  <input type="checkbox" name="input" class="form-control" ng-model="refresh">
			</fieldset>
		</div>	

		<div class="col-md-1">			
			<fieldset class="form-group">
				<label for="nome" >&nbsp;</label>		
				<button type="button" ng-click="stop()" class="btn btn-default">Stop</button>
			</fieldset>			
		</div>		
		<div class="col-md-1">			
			<fieldset class="form-group">
				<label for="nome" >&nbsp;</label>		
				<button type="button" ng-click="csv()" class="btn btn-default">CSV</button>
			</fieldset>			
		</div>	
	</div>

	<div class="row" class="form-group">
		<div class="col-md-12">
			<div id="chart"></div>
		</div>				
	</div>


	<div class="row" class="form-group">
		<div class="col-md-6">
			<fieldset class="form-group">
				<label for="nome" >Logs do Sistema</label>
				<textarea id="messageArea" rows="10" cols="70" ></textarea>
			</fieldset>
		</div>
		<div class="col-md-6">
			<fieldset class="form-group">
				<label>Mensagens dos Agentes</label>
				<textarea id="flowArea" rows="10" cols="70" ></textarea>
			</fieldset>
		</div>		
	</div>    
</div>